@keyframes wf-conditioner-base {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  2.762698% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  3.825274% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-products {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  6.800487% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  7.863063% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-keygen {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  11.688338% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  12.750914% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-keyframe-white {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  20.284898% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  21.347474% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-keyframe-white-image {
  0% {
    opacity: 0;
  }
  27.154613% {
    opacity: 0;
  }
  28.004674% {
    opacity: 1;
  }
  98.937424% {
    opacity: 1;
  }
  99.57497% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wf-conditioner-keyframe-gold {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  20.284898% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  21.347474% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-keyframe-gold-image {
  0% {
    opacity: 0;
  }
  27.154613% {
    opacity: 0;
  }
  28.004674% {
    opacity: 1;
  }
  98.937424% {
    opacity: 1;
  }
  99.57497% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wf-conditioner-keyframe-purple {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  20.284898% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  21.347474% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-keyframe-purple-image {
  0% {
    opacity: 0;
  }
  27.154613% {
    opacity: 0;
  }
  28.004674% {
    opacity: 1;
  }
  98.937424% {
    opacity: 1;
  }
  99.57497% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wf-conditioner-keyframe-purple-selection {
  0% {
    opacity: 0;
  }
  32.339985% {
    opacity: 0;
  }
  32.5525% {
    opacity: 1;
  }
  98.937424% {
    opacity: 1;
  }
  99.57497% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wf-conditioner-motionref {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  36.080253% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  37.142829% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-videogen {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  40.118042% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  41.180618% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-result-purple {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  48.714603% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
    animation-timing-function: ease-out;
  }
  49.777179% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  98.937424% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  99.57497% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(0);
  }
}
@keyframes wf-conditioner-result-purple-image {
  0% {
    opacity: 0;
  }
  55.584317% {
    opacity: 0;
  }
  56.434378% {
    opacity: 1;
  }
  98.937424% {
    opacity: 1;
  }
  99.57497% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wf-conditioner-base-keygen {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  13.930835% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  13.952087% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  15.871121% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-products-keygen {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  17.697828% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  17.719079% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  19.638113% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-keygen-keyframe-white {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  22.654905% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  22.676157% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  24.59519% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-keygen-keyframe-gold {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  22.654905% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  22.676157% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  24.59519% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-keygen-keyframe-purple {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  22.654905% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  22.676157% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  24.59519% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-keyframe-purple-videogen {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  42.36054% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  42.381791% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  44.300825% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-motionref-videogen {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  46.127532% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  46.148783% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  48.067817% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-conditioner-videogen-result-purple {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  51.084609% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  51.105861% {
    stroke-dashoffset: 1;
    opacity: 1;
  }
  53.024895% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  98.937424% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  99.57497% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes wf-user-conditioner {
  0% {
    opacity: 0;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  0.637546% {
    opacity: 0;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  0.807558% {
    opacity: 1;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  2.337668% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 13.2516cqw;
  }
  2.635189% {
    opacity: 1;
    transform: scale(0.82);
    left: 8.2806cqw;
    top: 13.2516cqw;
  }
  3.102722% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 13.2516cqw;
  }
  3.825274% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 13.2516cqw;
  }
  4.675335% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 13.2516cqw;
  }
  6.375457% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 23.2892cqw;
  }
  6.672978% {
    opacity: 1;
    transform: scale(0.82);
    left: 8.2806cqw;
    top: 23.2892cqw;
  }
  7.140512% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 23.2892cqw;
  }
  7.863063% {
    opacity: 1;
    transform: scale(1);
    left: 8.2806cqw;
    top: 23.2892cqw;
  }
  8.713124% {
    opacity: 1;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  30.129826% {
    opacity: 1;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  32.042463% {
    opacity: 1;
    transform: scale(1);
    left: 37.2628cqw;
    top: 27.5572cqw;
  }
  32.339985% {
    opacity: 1;
    transform: scale(0.82);
    left: 37.2628cqw;
    top: 27.5572cqw;
  }
  32.807518% {
    opacity: 1;
    transform: scale(1);
    left: 37.2628cqw;
    top: 27.5572cqw;
  }
  32.892524% {
    opacity: 1;
    transform: scale(1);
    left: 37.2628cqw;
    top: 27.5572cqw;
  }
  33.9551% {
    opacity: 1;
    transform: scale(1);
    left: 37.2628cqw;
    top: 27.5572cqw;
  }
  35.655222% {
    opacity: 1;
    transform: scale(1);
    left: 50.9201cqw;
    top: 13.8603cqw;
  }
  35.952743% {
    opacity: 1;
    transform: scale(0.82);
    left: 50.9201cqw;
    top: 13.8603cqw;
  }
  36.420277% {
    opacity: 1;
    transform: scale(1);
    left: 50.9201cqw;
    top: 13.8603cqw;
  }
  37.142829% {
    opacity: 1;
    transform: scale(1);
    left: 50.9201cqw;
    top: 13.8603cqw;
  }
  37.99289% {
    opacity: 1;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  98.937424% {
    opacity: 1;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  99.57497% {
    opacity: 0;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
  100% {
    opacity: 0;
    transform: scale(1);
    left: 5.2904cqw;
    top: 2.3577cqw;
  }
}
@keyframes wf-agent-conditioner {
  0% {
    opacity: 0;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  9.563185% {
    opacity: 0;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  9.733197% {
    opacity: 1;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  11.263307% {
    opacity: 1;
    transform: scale(1);
    left: 23.0305cqw;
    top: 14.9511cqw;
  }
  11.560828% {
    opacity: 1;
    transform: scale(0.82);
    left: 23.0305cqw;
    top: 14.9511cqw;
  }
  12.028362% {
    opacity: 1;
    transform: scale(1);
    left: 23.0305cqw;
    top: 14.9511cqw;
  }
  12.750914% {
    opacity: 1;
    transform: scale(1);
    left: 23.0305cqw;
    top: 14.9511cqw;
  }
  13.952087% {
    opacity: 1;
    transform: scale(1);
    left: 15.1811cqw;
    top: 13.2516cqw;
  }
  13.989844% {
    opacity: 1;
    transform: scale(1);
    left: 15.2448cqw;
    top: 13.253cqw;
  }
  14.026442% {
    opacity: 1;
    transform: scale(1);
    left: 15.3063cqw;
    top: 13.2571cqw;
  }
  14.061989% {
    opacity: 1;
    transform: scale(1);
    left: 15.3658cqw;
    top: 13.2639cqw;
  }
  14.096603% {
    opacity: 1;
    transform: scale(1);
    left: 15.4234cqw;
    top: 13.2732cqw;
  }
  14.130395% {
    opacity: 1;
    transform: scale(1);
    left: 15.4791cqw;
    top: 13.285cqw;
  }
  14.163469% {
    opacity: 1;
    transform: scale(1);
    left: 15.5331cqw;
    top: 13.2992cqw;
  }
  14.195932% {
    opacity: 1;
    transform: scale(1);
    left: 15.5853cqw;
    top: 13.3156cqw;
  }
  14.227884% {
    opacity: 1;
    transform: scale(1);
    left: 15.6358cqw;
    top: 13.3342cqw;
  }
  14.259417% {
    opacity: 1;
    transform: scale(1);
    left: 15.6848cqw;
    top: 13.3548cqw;
  }
  14.290612% {
    opacity: 1;
    transform: scale(1);
    left: 15.7322cqw;
    top: 13.3775cqw;
  }
  14.321551% {
    opacity: 1;
    transform: scale(1);
    left: 15.7782cqw;
    top: 13.402cqw;
  }
  14.352306% {
    opacity: 1;
    transform: scale(1);
    left: 15.8229cqw;
    top: 13.4283cqw;
  }
  14.382935% {
    opacity: 1;
    transform: scale(1);
    left: 15.8662cqw;
    top: 13.4564cqw;
  }
  14.413494% {
    opacity: 1;
    transform: scale(1);
    left: 15.9084cqw;
    top: 13.486cqw;
  }
  14.444035% {
    opacity: 1;
    transform: scale(1);
    left: 15.9494cqw;
    top: 13.5171cqw;
  }
  14.474593% {
    opacity: 1;
    transform: scale(1);
    left: 15.9893cqw;
    top: 13.5497cqw;
  }
  14.505201% {
    opacity: 1;
    transform: scale(1);
    left: 16.0282cqw;
    top: 13.5836cqw;
  }
  14.53588% {
    opacity: 1;
    transform: scale(1);
    left: 16.0661cqw;
    top: 13.6187cqw;
  }
  14.566655% {
    opacity: 1;
    transform: scale(1);
    left: 16.1032cqw;
    top: 13.6549cqw;
  }
  14.59753% {
    opacity: 1;
    transform: scale(1);
    left: 16.1395cqw;
    top: 13.6922cqw;
  }
  14.628519% {
    opacity: 1;
    transform: scale(1);
    left: 16.1751cqw;
    top: 13.7304cqw;
  }
  14.65962% {
    opacity: 1;
    transform: scale(1);
    left: 16.2101cqw;
    top: 13.7695cqw;
  }
  14.690835% {
    opacity: 1;
    transform: scale(1);
    left: 16.2445cqw;
    top: 13.8093cqw;
  }
  14.722152% {
    opacity: 1;
    transform: scale(1);
    left: 16.2783cqw;
    top: 13.8498cqw;
  }
  14.75357% {
    opacity: 1;
    transform: scale(1);
    left: 16.3118cqw;
    top: 13.8909cqw;
  }
  14.785068% {
    opacity: 1;
    transform: scale(1);
    left: 16.3448cqw;
    top: 13.9324cqw;
  }
  14.816638% {
    opacity: 1;
    transform: scale(1);
    left: 16.3776cqw;
    top: 13.9743cqw;
  }
  14.848262% {
    opacity: 1;
    transform: scale(1);
    left: 16.4102cqw;
    top: 14.0165cqw;
  }
  14.879922% {
    opacity: 1;
    transform: scale(1);
    left: 16.4426cqw;
    top: 14.0589cqw;
  }
  14.911604% {
    opacity: 1;
    transform: scale(1);
    left: 16.475cqw;
    top: 14.1014cqw;
  }
  14.943283% {
    opacity: 1;
    transform: scale(1);
    left: 16.5073cqw;
    top: 14.1438cqw;
  }
  14.974946% {
    opacity: 1;
    transform: scale(1);
    left: 16.5398cqw;
    top: 14.1862cqw;
  }
  15.00657% {
    opacity: 1;
    transform: scale(1);
    left: 16.5723cqw;
    top: 14.2284cqw;
  }
  15.038139% {
    opacity: 1;
    transform: scale(1);
    left: 16.6051cqw;
    top: 14.2703cqw;
  }
  15.069638% {
    opacity: 1;
    transform: scale(1);
    left: 16.6382cqw;
    top: 14.3118cqw;
  }
  15.101054% {
    opacity: 1;
    transform: scale(1);
    left: 16.6717cqw;
    top: 14.3529cqw;
  }
  15.132372% {
    opacity: 1;
    transform: scale(1);
    left: 16.7055cqw;
    top: 14.3934cqw;
  }
  15.163585% {
    opacity: 1;
    transform: scale(1);
    left: 16.7399cqw;
    top: 14.4332cqw;
  }
  15.194686% {
    opacity: 1;
    transform: scale(1);
    left: 16.7748cqw;
    top: 14.4723cqw;
  }
  15.225676% {
    opacity: 1;
    transform: scale(1);
    left: 16.8104cqw;
    top: 14.5105cqw;
  }
  15.256553% {
    opacity: 1;
    transform: scale(1);
    left: 16.8467cqw;
    top: 14.5478cqw;
  }
  15.287325% {
    opacity: 1;
    transform: scale(1);
    left: 16.8838cqw;
    top: 14.584cqw;
  }
  15.318007% {
    opacity: 1;
    transform: scale(1);
    left: 16.9218cqw;
    top: 14.6191cqw;
  }
  15.348614% {
    opacity: 1;
    transform: scale(1);
    left: 16.9607cqw;
    top: 14.653cqw;
  }
  15.379172% {
    opacity: 1;
    transform: scale(1);
    left: 17.0006cqw;
    top: 14.6856cqw;
  }
  15.409711% {
    opacity: 1;
    transform: scale(1);
    left: 17.0416cqw;
    top: 14.7167cqw;
  }
  15.440272% {
    opacity: 1;
    transform: scale(1);
    left: 17.0837cqw;
    top: 14.7463cqw;
  }
  15.470901% {
    opacity: 1;
    transform: scale(1);
    left: 17.1271cqw;
    top: 14.7744cqw;
  }
  15.501654% {
    opacity: 1;
    transform: scale(1);
    left: 17.1717cqw;
    top: 14.8007cqw;
  }
  15.532595% {
    opacity: 1;
    transform: scale(1);
    left: 17.2177cqw;
    top: 14.8252cqw;
  }
  15.56379% {
    opacity: 1;
    transform: scale(1);
    left: 17.2652cqw;
    top: 14.8479cqw;
  }
  15.595321% {
    opacity: 1;
    transform: scale(1);
    left: 17.3142cqw;
    top: 14.8685cqw;
  }
  15.627275% {
    opacity: 1;
    transform: scale(1);
    left: 17.3647cqw;
    top: 14.8871cqw;
  }
  15.659739% {
    opacity: 1;
    transform: scale(1);
    left: 17.4169cqw;
    top: 14.9035cqw;
  }
  15.692812% {
    opacity: 1;
    transform: scale(1);
    left: 17.4708cqw;
    top: 14.9177cqw;
  }
  15.726604% {
    opacity: 1;
    transform: scale(1);
    left: 17.5265cqw;
    top: 14.9295cqw;
  }
  15.761219% {
    opacity: 1;
    transform: scale(1);
    left: 17.5841cqw;
    top: 14.9388cqw;
  }
  15.796763% {
    opacity: 1;
    transform: scale(1);
    left: 17.6437cqw;
    top: 14.9456cqw;
  }
  15.833361% {
    opacity: 1;
    transform: scale(1);
    left: 17.7052cqw;
    top: 14.9497cqw;
  }
  15.871121% {
    opacity: 1;
    transform: scale(1);
    left: 17.7688cqw;
    top: 14.9511cqw;
  }
  16.517906% {
    opacity: 1;
    transform: scale(1);
    left: 17.7688cqw;
    top: 14.9511cqw;
  }
  17.719079% {
    opacity: 1;
    transform: scale(1);
    left: 15.1811cqw;
    top: 23.2892cqw;
  }
  17.732704% {
    opacity: 1;
    transform: scale(1);
    left: 15.2448cqw;
    top: 23.2824cqw;
  }
  17.746502% {
    opacity: 1;
    transform: scale(1);
    left: 15.3063cqw;
    top: 23.2621cqw;
  }
  17.761022% {
    opacity: 1;
    transform: scale(1);
    left: 15.3658cqw;
    top: 23.2288cqw;
  }
  17.776685% {
    opacity: 1;
    transform: scale(1);
    left: 15.4234cqw;
    top: 23.183cqw;
  }
  17.793782% {
    opacity: 1;
    transform: scale(1);
    left: 15.4791cqw;
    top: 23.1252cqw;
  }
  17.812495% {
    opacity: 1;
    transform: scale(1);
    left: 15.5331cqw;
    top: 23.0558cqw;
  }
  17.832926% {
    opacity: 1;
    transform: scale(1);
    left: 15.5853cqw;
    top: 22.9753cqw;
  }
  17.855122% {
    opacity: 1;
    transform: scale(1);
    left: 15.6358cqw;
    top: 22.8841cqw;
  }
  17.87909% {
    opacity: 1;
    transform: scale(1);
    left: 15.6848cqw;
    top: 22.7827cqw;
  }
  17.904811% {
    opacity: 1;
    transform: scale(1);
    left: 15.7322cqw;
    top: 22.6716cqw;
  }
  17.932246% {
    opacity: 1;
    transform: scale(1);
    left: 15.7782cqw;
    top: 22.5512cqw;
  }
  17.961343% {
    opacity: 1;
    transform: scale(1);
    left: 15.8229cqw;
    top: 22.4221cqw;
  }
  17.992039% {
    opacity: 1;
    transform: scale(1);
    left: 15.8662cqw;
    top: 22.2846cqw;
  }
  18.024264% {
    opacity: 1;
    transform: scale(1);
    left: 15.9084cqw;
    top: 22.1392cqw;
  }
  18.057944% {
    opacity: 1;
    transform: scale(1);
    left: 15.9494cqw;
    top: 21.9864cqw;
  }
  18.092999% {
    opacity: 1;
    transform: scale(1);
    left: 15.9893cqw;
    top: 21.8267cqw;
  }
  18.129345% {
    opacity: 1;
    transform: scale(1);
    left: 16.0282cqw;
    top: 21.6605cqw;
  }
  18.166897% {
    opacity: 1;
    transform: scale(1);
    left: 16.0661cqw;
    top: 21.4882cqw;
  }
  18.205568% {
    opacity: 1;
    transform: scale(1);
    left: 16.1032cqw;
    top: 21.3104cqw;
  }
  18.245271% {
    opacity: 1;
    transform: scale(1);
    left: 16.1395cqw;
    top: 21.1275cqw;
  }
  18.285908% {
    opacity: 1;
    transform: scale(1);
    left: 16.1751cqw;
    top: 20.94cqw;
  }
  18.327395% {
    opacity: 1;
    transform: scale(1);
    left: 16.2101cqw;
    top: 20.7483cqw;
  }
  18.36964% {
    opacity: 1;
    transform: scale(1);
    left: 16.2445cqw;
    top: 20.5529cqw;
  }
  18.412541% {
    opacity: 1;
    transform: scale(1);
    left: 16.2783cqw;
    top: 20.3542cqw;
  }
  18.456014% {
    opacity: 1;
    transform: scale(1);
    left: 16.3118cqw;
    top: 20.1528cqw;
  }
  18.49996% {
    opacity: 1;
    transform: scale(1);
    left: 16.3448cqw;
    top: 19.9491cqw;
  }
  18.544286% {
    opacity: 1;
    transform: scale(1);
    left: 16.3776cqw;
    top: 19.7435cqw;
  }
  18.5889% {
    opacity: 1;
    transform: scale(1);
    left: 16.4102cqw;
    top: 19.5365cqw;
  }
  18.633699% {
    opacity: 1;
    transform: scale(1);
    left: 16.4426cqw;
    top: 19.3286cqw;
  }
  18.678599% {
    opacity: 1;
    transform: scale(1);
    left: 16.475cqw;
    top: 19.1202cqw;
  }
  18.723493% {
    opacity: 1;
    transform: scale(1);
    left: 16.5073cqw;
    top: 18.9118cqw;
  }
  18.768294% {
    opacity: 1;
    transform: scale(1);
    left: 16.5398cqw;
    top: 18.7039cqw;
  }
  18.812905% {
    opacity: 1;
    transform: scale(1);
    left: 16.5723cqw;
    top: 18.4969cqw;
  }
  18.857232% {
    opacity: 1;
    transform: scale(1);
    left: 16.6051cqw;
    top: 18.2913cqw;
  }
  18.901178% {
    opacity: 1;
    transform: scale(1);
    left: 16.6382cqw;
    top: 18.0876cqw;
  }
  18.944651% {
    opacity: 1;
    transform: scale(1);
    left: 16.6717cqw;
    top: 17.8861cqw;
  }
  18.987555% {
    opacity: 1;
    transform: scale(1);
    left: 16.7055cqw;
    top: 17.6875cqw;
  }
  19.029797% {
    opacity: 1;
    transform: scale(1);
    left: 16.7399cqw;
    top: 17.4921cqw;
  }
  19.071284% {
    opacity: 1;
    transform: scale(1);
    left: 16.7748cqw;
    top: 17.3004cqw;
  }
  19.111923% {
    opacity: 1;
    transform: scale(1);
    left: 16.8104cqw;
    top: 17.1129cqw;
  }
  19.151624% {
    opacity: 1;
    transform: scale(1);
    left: 16.8467cqw;
    top: 16.93cqw;
  }
  19.190295% {
    opacity: 1;
    transform: scale(1);
    left: 16.8838cqw;
    top: 16.7522cqw;
  }
  19.227847% {
    opacity: 1;
    transform: scale(1);
    left: 16.9218cqw;
    top: 16.5799cqw;
  }
  19.264196% {
    opacity: 1;
    transform: scale(1);
    left: 16.9607cqw;
    top: 16.4137cqw;
  }
  19.299248% {
    opacity: 1;
    transform: scale(1);
    left: 17.0006cqw;
    top: 16.254cqw;
  }
  19.332927% {
    opacity: 1;
    transform: scale(1);
    left: 17.0416cqw;
    top: 16.1012cqw;
  }
  19.365153% {
    opacity: 1;
    transform: scale(1);
    left: 17.0837cqw;
    top: 15.9558cqw;
  }
  19.395849% {
    opacity: 1;
    transform: scale(1);
    left: 17.1271cqw;
    top: 15.8183cqw;
  }
  19.424946% {
    opacity: 1;
    transform: scale(1);
    left: 17.1717cqw;
    top: 15.6891cqw;
  }
  19.452381% {
    opacity: 1;
    transform: scale(1);
    left: 17.2177cqw;
    top: 15.5688cqw;
  }
  19.478102% {
    opacity: 1;
    transform: scale(1);
    left: 17.2652cqw;
    top: 15.4577cqw;
  }
  19.50207% {
    opacity: 1;
    transform: scale(1);
    left: 17.3142cqw;
    top: 15.3563cqw;
  }
  19.524266% {
    opacity: 1;
    transform: scale(1);
    left: 17.3647cqw;
    top: 15.2651cqw;
  }
  19.544697% {
    opacity: 1;
    transform: scale(1);
    left: 17.4169cqw;
    top: 15.1846cqw;
  }
  19.56341% {
    opacity: 1;
    transform: scale(1);
    left: 17.4708cqw;
    top: 15.1152cqw;
  }
  19.580507% {
    opacity: 1;
    transform: scale(1);
    left: 17.5265cqw;
    top: 15.0574cqw;
  }
  19.59617% {
    opacity: 1;
    transform: scale(1);
    left: 17.5841cqw;
    top: 15.0116cqw;
  }
  19.61069% {
    opacity: 1;
    transform: scale(1);
    left: 17.6437cqw;
    top: 14.9783cqw;
  }
  19.624488% {
    opacity: 1;
    transform: scale(1);
    left: 17.7052cqw;
    top: 14.958cqw;
  }
  19.638113% {
    opacity: 1;
    transform: scale(1);
    left: 17.7688cqw;
    top: 14.9511cqw;
  }
  21.474984% {
    opacity: 1;
    transform: scale(1);
    left: 17.7688cqw;
    top: 14.9511cqw;
  }
  22.676157% {
    opacity: 1;
    transform: scale(1);
    left: 28.2921cqw;
    top: 14.9511cqw;
  }
  24.59519% {
    opacity: 1;
    transform: scale(1);
    left: 28.2921cqw;
    top: 14.9511cqw;
  }
  25.241976% {
    opacity: 1;
    transform: scale(1);
    left: 28.2921cqw;
    top: 14.9511cqw;
  }
  26.517067% {
    opacity: 1;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  37.99289% {
    opacity: 1;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  39.693011% {
    opacity: 1;
    transform: scale(1);
    left: 65.5549cqw;
    top: 17.8281cqw;
  }
  39.990533% {
    opacity: 1;
    transform: scale(0.82);
    left: 65.5549cqw;
    top: 17.8281cqw;
  }
  40.458066% {
    opacity: 1;
    transform: scale(1);
    left: 65.5549cqw;
    top: 17.8281cqw;
  }
  41.180618% {
    opacity: 1;
    transform: scale(1);
    left: 65.5549cqw;
    top: 17.8281cqw;
  }
  42.381791% {
    opacity: 1;
    transform: scale(1);
    left: 43.1282cqw;
    top: 24.2093cqw;
  }
  42.424136% {
    opacity: 1;
    transform: scale(1);
    left: 43.5207cqw;
    top: 24.1239cqw;
  }
  42.465583% {
    opacity: 1;
    transform: scale(1);
    left: 43.9049cqw;
    top: 24.0399cqw;
  }
  42.506159% {
    opacity: 1;
    transform: scale(1);
    left: 44.2808cqw;
    top: 23.9574cqw;
  }
  42.545893% {
    opacity: 1;
    transform: scale(1);
    left: 44.6489cqw;
    top: 23.8761cqw;
  }
  42.58481% {
    opacity: 1;
    transform: scale(1);
    left: 45.0093cqw;
    top: 23.796cqw;
  }
  42.622939% {
    opacity: 1;
    transform: scale(1);
    left: 45.3623cqw;
    top: 23.717cqw;
  }
  42.660308% {
    opacity: 1;
    transform: scale(1);
    left: 45.7081cqw;
    top: 23.6389cqw;
  }
  42.69694% {
    opacity: 1;
    transform: scale(1);
    left: 46.0469cqw;
    top: 23.5617cqw;
  }
  42.73287% {
    opacity: 1;
    transform: scale(1);
    left: 46.379cqw;
    top: 23.4851cqw;
  }
  42.768118% {
    opacity: 1;
    transform: scale(1);
    left: 46.7047cqw;
    top: 23.4092cqw;
  }
  42.802719% {
    opacity: 1;
    transform: scale(1);
    left: 47.0241cqw;
    top: 23.3337cqw;
  }
  42.836693% {
    opacity: 1;
    transform: scale(1);
    left: 47.3376cqw;
    top: 23.2586cqw;
  }
  42.870074% {
    opacity: 1;
    transform: scale(1);
    left: 47.6452cqw;
    top: 23.1838cqw;
  }
  42.902888% {
    opacity: 1;
    transform: scale(1);
    left: 47.9474cqw;
    top: 23.109cqw;
  }
  42.935161% {
    opacity: 1;
    transform: scale(1);
    left: 48.2443cqw;
    top: 23.0343cqw;
  }
  42.966923% {
    opacity: 1;
    transform: scale(1);
    left: 48.5362cqw;
    top: 22.9596cqw;
  }
  42.998201% {
    opacity: 1;
    transform: scale(1);
    left: 48.8233cqw;
    top: 22.8846cqw;
  }
  43.029022% {
    opacity: 1;
    transform: scale(1);
    left: 49.1058cqw;
    top: 22.8092cqw;
  }
  43.059417% {
    opacity: 1;
    transform: scale(1);
    left: 49.384cqw;
    top: 22.7335cqw;
  }
  43.089416% {
    opacity: 1;
    transform: scale(1);
    left: 49.6582cqw;
    top: 22.6571cqw;
  }
  43.119042% {
    opacity: 1;
    transform: scale(1);
    left: 49.9285cqw;
    top: 22.5802cqw;
  }
  43.14833% {
    opacity: 1;
    transform: scale(1);
    left: 50.1952cqw;
    top: 22.5024cqw;
  }
  43.177304% {
    opacity: 1;
    transform: scale(1);
    left: 50.4586cqw;
    top: 22.4237cqw;
  }
  43.205993% {
    opacity: 1;
    transform: scale(1);
    left: 50.7188cqw;
    top: 22.344cqw;
  }
  43.234432% {
    opacity: 1;
    transform: scale(1);
    left: 50.9762cqw;
    top: 22.2632cqw;
  }
  43.262643% {
    opacity: 1;
    transform: scale(1);
    left: 51.2309cqw;
    top: 22.1811cqw;
  }
  43.290659% {
    opacity: 1;
    transform: scale(1);
    left: 51.4833cqw;
    top: 22.0977cqw;
  }
  43.318509% {
    opacity: 1;
    transform: scale(1);
    left: 51.7334cqw;
    top: 22.0128cqw;
  }
  43.346222% {
    opacity: 1;
    transform: scale(1);
    left: 51.9817cqw;
    top: 21.9263cqw;
  }
  43.373829% {
    opacity: 1;
    transform: scale(1);
    left: 52.2283cqw;
    top: 21.8381cqw;
  }
  43.401358% {
    opacity: 1;
    transform: scale(1);
    left: 52.4734cqw;
    top: 21.7481cqw;
  }
  43.42884% {
    opacity: 1;
    transform: scale(1);
    left: 52.7174cqw;
    top: 21.6562cqw;
  }
  43.456305% {
    opacity: 1;
    transform: scale(1);
    left: 52.9604cqw;
    top: 21.5621cqw;
  }
  43.483781% {
    opacity: 1;
    transform: scale(1);
    left: 53.2027cqw;
    top: 21.466cqw;
  }
  43.511302% {
    opacity: 1;
    transform: scale(1);
    left: 53.4445cqw;
    top: 21.3675cqw;
  }
  43.538897% {
    opacity: 1;
    transform: scale(1);
    left: 53.686cqw;
    top: 21.2667cqw;
  }
  43.566593% {
    opacity: 1;
    transform: scale(1);
    left: 53.9276cqw;
    top: 21.1633cqw;
  }
  43.594423% {
    opacity: 1;
    transform: scale(1);
    left: 54.1694cqw;
    top: 21.0573cqw;
  }
  43.622417% {
    opacity: 1;
    transform: scale(1);
    left: 54.4117cqw;
    top: 20.9486cqw;
  }
  43.650603% {
    opacity: 1;
    transform: scale(1);
    left: 54.6547cqw;
    top: 20.837cqw;
  }
  43.679014% {
    opacity: 1;
    transform: scale(1);
    left: 54.8986cqw;
    top: 20.7224cqw;
  }
  43.707677% {
    opacity: 1;
    transform: scale(1);
    left: 55.1438cqw;
    top: 20.6048cqw;
  }
  43.736625% {
    opacity: 1;
    transform: scale(1);
    left: 55.3904cqw;
    top: 20.484cqw;
  }
  43.765886% {
    opacity: 1;
    transform: scale(1);
    left: 55.6386cqw;
    top: 20.3598cqw;
  }
  43.795491% {
    opacity: 1;
    transform: scale(1);
    left: 55.8888cqw;
    top: 20.2322cqw;
  }
  43.825468% {
    opacity: 1;
    transform: scale(1);
    left: 56.1411cqw;
    top: 20.101cqw;
  }
  43.85585% {
    opacity: 1;
    transform: scale(1);
    left: 56.3959cqw;
    top: 19.9662cqw;
  }
  43.886663% {
    opacity: 1;
    transform: scale(1);
    left: 56.6532cqw;
    top: 19.8277cqw;
  }
  43.917937% {
    opacity: 1;
    transform: scale(1);
    left: 56.9135cqw;
    top: 19.6852cqw;
  }
  43.949705% {
    opacity: 1;
    transform: scale(1);
    left: 57.1769cqw;
    top: 19.5387cqw;
  }
  43.981994% {
    opacity: 1;
    transform: scale(1);
    left: 57.4436cqw;
    top: 19.3881cqw;
  }
  44.014833% {
    opacity: 1;
    transform: scale(1);
    left: 57.7139cqw;
    top: 19.2332cqw;
  }
  44.048251% {
    opacity: 1;
    transform: scale(1);
    left: 57.988cqw;
    top: 19.074cqw;
  }
  44.082277% {
    opacity: 1;
    transform: scale(1);
    left: 58.2662cqw;
    top: 18.9104cqw;
  }
  44.11694% {
    opacity: 1;
    transform: scale(1);
    left: 58.5488cqw;
    top: 18.7421cqw;
  }
  44.15227% {
    opacity: 1;
    transform: scale(1);
    left: 58.8359cqw;
    top: 18.5692cqw;
  }
  44.188295% {
    opacity: 1;
    transform: scale(1);
    left: 59.1277cqw;
    top: 18.3914cqw;
  }
  44.225043% {
    opacity: 1;
    transform: scale(1);
    left: 59.4246cqw;
    top: 18.2087cqw;
  }
  44.262544% {
    opacity: 1;
    transform: scale(1);
    left: 59.7268cqw;
    top: 18.021cqw;
  }
  44.300825% {
    opacity: 1;
    transform: scale(1);
    left: 60.0345cqw;
    top: 17.8281cqw;
  }
  44.94761% {
    opacity: 1;
    transform: scale(1);
    left: 60.0345cqw;
    top: 17.8281cqw;
  }
  46.148783% {
    opacity: 1;
    transform: scale(1);
    left: 57.2168cqw;
    top: 13.8603cqw;
  }
  46.205101% {
    opacity: 1;
    transform: scale(1);
    left: 57.274cqw;
    top: 13.9926cqw;
  }
  46.259401% {
    opacity: 1;
    transform: scale(1);
    left: 57.3307cqw;
    top: 14.1196cqw;
  }
  46.311751% {
    opacity: 1;
    transform: scale(1);
    left: 57.3868cqw;
    top: 14.2414cqw;
  }
  46.362219% {
    opacity: 1;
    transform: scale(1);
    left: 57.4423cqw;
    top: 14.3581cqw;
  }
  46.410871% {
    opacity: 1;
    transform: scale(1);
    left: 57.4974cqw;
    top: 14.4699cqw;
  }
  46.457776% {
    opacity: 1;
    transform: scale(1);
    left: 57.5519cqw;
    top: 14.5769cqw;
  }
  46.503001% {
    opacity: 1;
    transform: scale(1);
    left: 57.6059cqw;
    top: 14.6793cqw;
  }
  46.546615% {
    opacity: 1;
    transform: scale(1);
    left: 57.6594cqw;
    top: 14.7774cqw;
  }
  46.588683% {
    opacity: 1;
    transform: scale(1);
    left: 57.7124cqw;
    top: 14.8711cqw;
  }
  46.629274% {
    opacity: 1;
    transform: scale(1);
    left: 57.7649cqw;
    top: 14.9608cqw;
  }
  46.668455% {
    opacity: 1;
    transform: scale(1);
    left: 57.817cqw;
    top: 15.0466cqw;
  }
  46.706291% {
    opacity: 1;
    transform: scale(1);
    left: 57.8687cqw;
    top: 15.1286cqw;
  }
  46.74285% {
    opacity: 1;
    transform: scale(1);
    left: 57.9199cqw;
    top: 15.207cqw;
  }
  46.778198% {
    opacity: 1;
    transform: scale(1);
    left: 57.9706cqw;
    top: 15.2819cqw;
  }
  46.812399% {
    opacity: 1;
    transform: scale(1);
    left: 58.021cqw;
    top: 15.3536cqw;
  }
  46.845518% {
    opacity: 1;
    transform: scale(1);
    left: 58.0709cqw;
    top: 15.4221cqw;
  }
  46.877619% {
    opacity: 1;
    transform: scale(1);
    left: 58.1204cqw;
    top: 15.4877cqw;
  }
  46.908765% {
    opacity: 1;
    transform: scale(1);
    left: 58.1696cqw;
    top: 15.5505cqw;
  }
  46.939018% {
    opacity: 1;
    transform: scale(1);
    left: 58.2184cqw;
    top: 15.6107cqw;
  }
  46.968439% {
    opacity: 1;
    transform: scale(1);
    left: 58.2668cqw;
    top: 15.6685cqw;
  }
  46.997087% {
    opacity: 1;
    transform: scale(1);
    left: 58.3148cqw;
    top: 15.7239cqw;
  }
  47.025021% {
    opacity: 1;
    transform: scale(1);
    left: 58.3626cqw;
    top: 15.7772cqw;
  }
  47.052298% {
    opacity: 1;
    transform: scale(1);
    left: 58.41cqw;
    top: 15.8285cqw;
  }
  47.078975% {
    opacity: 1;
    transform: scale(1);
    left: 58.457cqw;
    top: 15.878cqw;
  }
  47.105104% {
    opacity: 1;
    transform: scale(1);
    left: 58.5038cqw;
    top: 15.9258cqw;
  }
  47.130741% {
    opacity: 1;
    transform: scale(1);
    left: 58.5503cqw;
    top: 15.9722cqw;
  }
  47.155935% {
    opacity: 1;
    transform: scale(1);
    left: 58.5965cqw;
    top: 16.0172cqw;
  }
  47.180739% {
    opacity: 1;
    transform: scale(1);
    left: 58.6424cqw;
    top: 16.0611cqw;
  }
  47.2052% {
    opacity: 1;
    transform: scale(1);
    left: 58.6881cqw;
    top: 16.104cqw;
  }
  47.229368% {
    opacity: 1;
    transform: scale(1);
    left: 58.7335cqw;
    top: 16.1461cqw;
  }
  47.253289% {
    opacity: 1;
    transform: scale(1);
    left: 58.7786cqw;
    top: 16.1874cqw;
  }
  47.277011% {
    opacity: 1;
    transform: scale(1);
    left: 58.8236cqw;
    top: 16.2283cqw;
  }
  47.300579% {
    opacity: 1;
    transform: scale(1);
    left: 58.8683cqw;
    top: 16.2688cqw;
  }
  47.32404% {
    opacity: 1;
    transform: scale(1);
    left: 58.9128cqw;
    top: 16.3092cqw;
  }
  47.34744% {
    opacity: 1;
    transform: scale(1);
    left: 58.9571cqw;
    top: 16.3495cqw;
  }
  47.370824% {
    opacity: 1;
    transform: scale(1);
    left: 59.0013cqw;
    top: 16.39cqw;
  }
  47.39424% {
    opacity: 1;
    transform: scale(1);
    left: 59.0452cqw;
    top: 16.4308cqw;
  }
  47.417736% {
    opacity: 1;
    transform: scale(1);
    left: 59.089cqw;
    top: 16.472cqw;
  }
  47.441359% {
    opacity: 1;
    transform: scale(1);
    left: 59.1327cqw;
    top: 16.5139cqw;
  }
  47.465159% {
    opacity: 1;
    transform: scale(1);
    left: 59.1762cqw;
    top: 16.5566cqw;
  }
  47.489188% {
    opacity: 1;
    transform: scale(1);
    left: 59.2196cqw;
    top: 16.6002cqw;
  }
  47.513497% {
    opacity: 1;
    transform: scale(1);
    left: 59.2629cqw;
    top: 16.645cqw;
  }
  47.538142% {
    opacity: 1;
    transform: scale(1);
    left: 59.306cqw;
    top: 16.691cqw;
  }
  47.563176% {
    opacity: 1;
    transform: scale(1);
    left: 59.3491cqw;
    top: 16.7385cqw;
  }
  47.588659% {
    opacity: 1;
    transform: scale(1);
    left: 59.3921cqw;
    top: 16.7876cqw;
  }
  47.614649% {
    opacity: 1;
    transform: scale(1);
    left: 59.435cqw;
    top: 16.8385cqw;
  }
  47.641206% {
    opacity: 1;
    transform: scale(1);
    left: 59.4778cqw;
    top: 16.8913cqw;
  }
  47.668392% {
    opacity: 1;
    transform: scale(1);
    left: 59.5206cqw;
    top: 16.9462cqw;
  }
  47.696271% {
    opacity: 1;
    transform: scale(1);
    left: 59.5634cqw;
    top: 17.0033cqw;
  }
  47.724908% {
    opacity: 1;
    transform: scale(1);
    left: 59.6061cqw;
    top: 17.0629cqw;
  }
  47.754369% {
    opacity: 1;
    transform: scale(1);
    left: 59.6489cqw;
    top: 17.1251cqw;
  }
  47.784719% {
    opacity: 1;
    transform: scale(1);
    left: 59.6916cqw;
    top: 17.19cqw;
  }
  47.816028% {
    opacity: 1;
    transform: scale(1);
    left: 59.7343cqw;
    top: 17.2579cqw;
  }
  47.848364% {
    opacity: 1;
    transform: scale(1);
    left: 59.7771cqw;
    top: 17.3288cqw;
  }
  47.881794% {
    opacity: 1;
    transform: scale(1);
    left: 59.8198cqw;
    top: 17.403cqw;
  }
  47.91639% {
    opacity: 1;
    transform: scale(1);
    left: 59.8626cqw;
    top: 17.4805cqw;
  }
  47.95222% {
    opacity: 1;
    transform: scale(1);
    left: 59.9055cqw;
    top: 17.5617cqw;
  }
  47.989355% {
    opacity: 1;
    transform: scale(1);
    left: 59.9484cqw;
    top: 17.6465cqw;
  }
  48.027864% {
    opacity: 1;
    transform: scale(1);
    left: 59.9914cqw;
    top: 17.7353cqw;
  }
  48.067817% {
    opacity: 1;
    transform: scale(1);
    left: 60.0345cqw;
    top: 17.8281cqw;
  }
  49.904688% {
    opacity: 1;
    transform: scale(1);
    left: 60.0345cqw;
    top: 17.8281cqw;
  }
  51.105861% {
    opacity: 1;
    transform: scale(1);
    left: 71.0753cqw;
    top: 17.8281cqw;
  }
  51.143474% {
    opacity: 1;
    transform: scale(1);
    left: 71.1192cqw;
    top: 17.8271cqw;
  }
  51.179928% {
    opacity: 1;
    transform: scale(1);
    left: 71.1616cqw;
    top: 17.8242cqw;
  }
  51.215342% {
    opacity: 1;
    transform: scale(1);
    left: 71.2026cqw;
    top: 17.8195cqw;
  }
  51.249832% {
    opacity: 1;
    transform: scale(1);
    left: 71.2422cqw;
    top: 17.813cqw;
  }
  51.283505% {
    opacity: 1;
    transform: scale(1);
    left: 71.2806cqw;
    top: 17.8048cqw;
  }
  51.316476% {
    opacity: 1;
    transform: scale(1);
    left: 71.3178cqw;
    top: 17.7949cqw;
  }
  51.34885% {
    opacity: 1;
    transform: scale(1);
    left: 71.3537cqw;
    top: 17.7835cqw;
  }
  51.380718% {
    opacity: 1;
    transform: scale(1);
    left: 71.3885cqw;
    top: 17.7705cqw;
  }
  51.41218% {
    opacity: 1;
    transform: scale(1);
    left: 71.4223cqw;
    top: 17.7561cqw;
  }
  51.443323% {
    opacity: 1;
    transform: scale(1);
    left: 71.455cqw;
    top: 17.7403cqw;
  }
  51.474217% {
    opacity: 1;
    transform: scale(1);
    left: 71.4867cqw;
    top: 17.7232cqw;
  }
  51.504944% {
    opacity: 1;
    transform: scale(1);
    left: 71.5174cqw;
    top: 17.7049cqw;
  }
  51.535558% {
    opacity: 1;
    transform: scale(1);
    left: 71.5473cqw;
    top: 17.6854cqw;
  }
  51.56612% {
    opacity: 1;
    transform: scale(1);
    left: 71.5763cqw;
    top: 17.6647cqw;
  }
  51.596668% {
    opacity: 1;
    transform: scale(1);
    left: 71.6046cqw;
    top: 17.643cqw;
  }
  51.627247% {
    opacity: 1;
    transform: scale(1);
    left: 71.632cqw;
    top: 17.6203cqw;
  }
  51.657884% {
    opacity: 1;
    transform: scale(1);
    left: 71.6588cqw;
    top: 17.5967cqw;
  }
  51.688607% {
    opacity: 1;
    transform: scale(1);
    left: 71.685cqw;
    top: 17.5723cqw;
  }
  51.719433% {
    opacity: 1;
    transform: scale(1);
    left: 71.7106cqw;
    top: 17.547cqw;
  }
  51.750372% {
    opacity: 1;
    transform: scale(1);
    left: 71.7356cqw;
    top: 17.521cqw;
  }
  51.781429% {
    opacity: 1;
    transform: scale(1);
    left: 71.7601cqw;
    top: 17.4944cqw;
  }
  51.81261% {
    opacity: 1;
    transform: scale(1);
    left: 71.7842cqw;
    top: 17.4672cqw;
  }
  51.843908% {
    opacity: 1;
    transform: scale(1);
    left: 71.8078cqw;
    top: 17.4394cqw;
  }
  51.875315% {
    opacity: 1;
    transform: scale(1);
    left: 71.8312cqw;
    top: 17.4112cqw;
  }
  51.906826% {
    opacity: 1;
    transform: scale(1);
    left: 71.8542cqw;
    top: 17.3826cqw;
  }
  51.938424% {
    opacity: 1;
    transform: scale(1);
    left: 71.877cqw;
    top: 17.3536cqw;
  }
  51.970098% {
    opacity: 1;
    transform: scale(1);
    left: 71.8996cqw;
    top: 17.3244cqw;
  }
  52.001825% {
    opacity: 1;
    transform: scale(1);
    left: 71.922cqw;
    top: 17.295cqw;
  }
  52.033593% {
    opacity: 1;
    transform: scale(1);
    left: 71.9444cqw;
    top: 17.2655cqw;
  }
  52.065379% {
    opacity: 1;
    transform: scale(1);
    left: 71.9666cqw;
    top: 17.2359cqw;
  }
  52.097165% {
    opacity: 1;
    transform: scale(1);
    left: 71.9889cqw;
    top: 17.2063cqw;
  }
  52.128933% {
    opacity: 1;
    transform: scale(1);
    left: 72.0113cqw;
    top: 17.1768cqw;
  }
  52.16066% {
    opacity: 1;
    transform: scale(1);
    left: 72.0337cqw;
    top: 17.1474cqw;
  }
  52.192332% {
    opacity: 1;
    transform: scale(1);
    left: 72.0563cqw;
    top: 17.1182cqw;
  }
  52.223932% {
    opacity: 1;
    transform: scale(1);
    left: 72.0791cqw;
    top: 17.0892cqw;
  }
  52.255443% {
    opacity: 1;
    transform: scale(1);
    left: 72.1021cqw;
    top: 17.0606cqw;
  }
  52.28685% {
    opacity: 1;
    transform: scale(1);
    left: 72.1255cqw;
    top: 17.0324cqw;
  }
  52.31815% {
    opacity: 1;
    transform: scale(1);
    left: 72.1491cqw;
    top: 17.0047cqw;
  }
  52.349329% {
    opacity: 1;
    transform: scale(1);
    left: 72.1732cqw;
    top: 16.9774cqw;
  }
  52.380386% {
    opacity: 1;
    transform: scale(1);
    left: 72.1977cqw;
    top: 16.9508cqw;
  }
  52.411326% {
    opacity: 1;
    transform: scale(1);
    left: 72.2227cqw;
    top: 16.9248cqw;
  }
  52.442152% {
    opacity: 1;
    transform: scale(1);
    left: 72.2483cqw;
    top: 16.8996cqw;
  }
  52.472876% {
    opacity: 1;
    transform: scale(1);
    left: 72.2745cqw;
    top: 16.8751cqw;
  }
  52.503511% {
    opacity: 1;
    transform: scale(1);
    left: 72.3013cqw;
    top: 16.8515cqw;
  }
  52.53409% {
    opacity: 1;
    transform: scale(1);
    left: 72.3287cqw;
    top: 16.8288cqw;
  }
  52.564638% {
    opacity: 1;
    transform: scale(1);
    left: 72.357cqw;
    top: 16.8071cqw;
  }
  52.5952% {
    opacity: 1;
    transform: scale(1);
    left: 72.386cqw;
    top: 16.7865cqw;
  }
  52.625815% {
    opacity: 1;
    transform: scale(1);
    left: 72.4159cqw;
    top: 16.7669cqw;
  }
  52.656541% {
    opacity: 1;
    transform: scale(1);
    left: 72.4466cqw;
    top: 16.7486cqw;
  }
  52.687435% {
    opacity: 1;
    transform: scale(1);
    left: 72.4783cqw;
    top: 16.7315cqw;
  }
  52.718578% {
    opacity: 1;
    transform: scale(1);
    left: 72.511cqw;
    top: 16.7157cqw;
  }
  52.75004% {
    opacity: 1;
    transform: scale(1);
    left: 72.5447cqw;
    top: 16.7013cqw;
  }
  52.781908% {
    opacity: 1;
    transform: scale(1);
    left: 72.5796cqw;
    top: 16.6884cqw;
  }
  52.814282% {
    opacity: 1;
    transform: scale(1);
    left: 72.6155cqw;
    top: 16.6769cqw;
  }
  52.847253% {
    opacity: 1;
    transform: scale(1);
    left: 72.6527cqw;
    top: 16.6671cqw;
  }
  52.880927% {
    opacity: 1;
    transform: scale(1);
    left: 72.6911cqw;
    top: 16.6588cqw;
  }
  52.915416% {
    opacity: 1;
    transform: scale(1);
    left: 72.7307cqw;
    top: 16.6523cqw;
  }
  52.95083% {
    opacity: 1;
    transform: scale(1);
    left: 72.7717cqw;
    top: 16.6476cqw;
  }
  52.987285% {
    opacity: 1;
    transform: scale(1);
    left: 72.8141cqw;
    top: 16.6447cqw;
  }
  53.024895% {
    opacity: 1;
    transform: scale(1);
    left: 72.858cqw;
    top: 16.6438cqw;
  }
  53.67168% {
    opacity: 1;
    transform: scale(1);
    left: 72.858cqw;
    top: 16.6438cqw;
  }
  54.946772% {
    opacity: 1;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  98.937424% {
    opacity: 1;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  99.57497% {
    opacity: 0;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
  100% {
    opacity: 0;
    transform: scale(1);
    left: 89.0167cqw;
    top: 29.4422cqw;
  }
}
@keyframes wf-scene-conditioner {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99.957497% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
