{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 80,
  "importOrder": ["^@core/(.*)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@prettier/plugin-oxc", "@trivago/prettier-plugin-sort-imports"]
}
