---
import { externalLinks, getRoutes } from '../../../config/routes'
import { t } from '../../../i18n/translations'
import type { Locale } from '../../../i18n/translations'
import Link from './Link.astro'

const rawLocale = Astro.currentLocale ?? 'en'
const locale: Locale = rawLocale === 'zh-CN' ? 'zh-CN' : 'en'
const routes = getRoutes(locale)
---

<div
  class="border-primary-comfy-yellow mt-12 rounded-2xl border-l-4 bg-site-bg-soft p-8"
>
  <p class="text-base/relaxed text-primary-comfy-canvas">
    <strong class="font-semibold">{t('educationCta.heading', locale)}</strong>{' '}
    {t('educationCta.body', locale)}{' '}
    <Link href={routes.education}>{t('educationCta.exploreLink', locale)}</Link>{' '}
    {t('educationCta.or', locale)}{' '}
    <Link href={externalLinks.creativeCampusApplicationForm}>{t('educationCta.applyLink', locale)}</Link>{' '}
    {t('educationCta.tail', locale)}
  </p>
</div>
