@import '@comfyorg/design-system/css/style.css';

@media (prefers-reduced-motion: no-preference) {
  /* List transition animations */
  .list-scale-move,
  .list-scale-enter-active,
  .list-scale-leave-active {
    transition:
      opacity 150ms ease,
      transform 150ms ease;
  }

  .list-scale-enter-from,
  .list-scale-leave-to {
    opacity: 0;
    transform: scale(70%);
  }

  .list-scale-leave-active {
    position: absolute;
    width: 100%;
  }

  @keyframes marquee-scroll {
    0%,
    20% {
      transform: translateX(0);
    }
    80%,
    100% {
      transform: translateX(var(--_marquee-end, 0px));
    }
  }

  .marquee-container {
    container-type: inline-size;
    mask-image: linear-gradient(to right, black 70%, transparent);
  }

  .essential-node-card:hover .marquee-container {
    mask-image: none;
  }

  .essential-node-card:hover .marquee-text {
    --_marquee-end: min(calc(-100% + 100cqw), 0px);
    animation: marquee-scroll 3s linear infinite alternate;
  }
}
