---
import BaseLayout from '../layouts/BaseLayout.astro'
import BrandBackground from '../templates/brand/BrandBackground.vue'
import BrandHeroSection from '../templates/brand/BrandHeroSection.vue'
import BrandLogosSection from '../templates/brand/BrandLogosSection.vue'
import BrandColorSection from '../templates/brand/BrandColorSection.vue'
import BrandVoiceSection from '../templates/brand/BrandVoiceSection.vue'
import BrandTrademarkSection from '../templates/brand/BrandTrademarkSection.vue'
import BrandQuestionsSection from '../templates/brand/BrandQuestionsSection.vue'
import { t } from '../i18n/translations'

const locale = 'en' as const
---

<BaseLayout
  title={t('brand.page.title', locale)}
  description={t('brand.page.description', locale)}
>
  <div class="relative">
    <BrandBackground client:idle />
    <BrandHeroSection />
    <BrandLogosSection />
    <BrandColorSection client:visible />
    <BrandVoiceSection />
    <BrandTrademarkSection />
    <BrandQuestionsSection />
  </div>
</BaseLayout>
