@font-face {
  font-family: 'PP Formula';
  src: url('../fonts/PPFormula-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('../fonts/PPFormula-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('../fonts/PPFormula-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
