---
import '../styles/global.css'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'Comfy is the AI creation engine for visual professionals who demand control.',
} = Astro.props
---

<!doctype html>
<html lang={Astro.currentLocale ?? 'en'}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-black text-white font-inter antialiased">
    <slot />
  </body>
</html>
