/* Inter Font Family */

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-latin-normal.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-latin-italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ABC ROM Extended';
  src:
    local('ABC ROM Extended Black Italic'),
    local('ABCRom BlackItalic'),
    url('/fonts/ABCROMExtended-BlackItalic-NFqMndLW.woff2') format('woff2'),
    url('/fonts/ABCROMExtended-BlackItalic-B3Ak1JoQ.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.font-abcrom {
  font-family: 'ABC ROM Extended', sans-serif;
  font-synthesis: none; /* no faux bold/italic */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}