name: ESLint

on:
  pull_request:
    branches: [ main, master, dev*, core/*, desktop/* ]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 'lts/*'
    - run: npm ci
    - run: npm run lint
